<td id="checkListRow<%=ViewID%>" class="lookup-row <%=ViewID%>">
    <div id="divIsSelected<%=ViewID%>">
        <i id="iconIsSelected<%=ViewID%>" class="icon-2x"></i>
    </div>
    <div id="divItemName<%=ViewID%>">
        <ul id="itemName<%=ViewID%>" class="listitem-4">
            <li><%= name %></li>
        </ul>
    </div>
    <div class="clear-padding">
        <button id="buttonShowUrl<%= ViewID %>" class="btn btn-link"><i class="icon-chevron-right icon-2x"></i></button>
    </div>    
</td>