<section id="itemLookupSection" class="container slideDownReady">
    <nav id="itemLookupNav" class="container-nav navbar navbar-inverse">
        <div class="navbar-header">
            <span id="itemLookupTitle" class="navbar-title">select from similar items</span>
            <button id="buttonSlideDownItemLookup" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-down"></i></button>
        </div>
    </nav>

    <div id="itemLookupBody" class="container-body-2">
        <div id="itemLookupItems">
            <div id="containerTableItemLookup" class="iscroll-cartitem">
                <table id="cartListItemLookup" cellspacing="0" cellpadding="0">
                    <tbody />
                </table>
            </div>
        </div>
    </div>
</section>
