<div class="stocktake-item">
    <ul class="pick-item-header clear-list">
        <li id="binColIcon<%= SkippedListItemID %>"><i class="icon-inbox"></i></li>
        <li id="binCol<%= SkippedListItemID %>" class=" pick-item-colbin"><span class="text-ellipsis" id="textbinLocation<%= ItemCode %>">No Bin</span></li>
        <li id="qtyCol<%= SkippedListItemID %>" class="pick-item-colqty">x<span id="cardQty<%= TapeItemID %>"><%= Quantity %></span></li>
    </ul>
    <div id="cardItemDetail<%= SkippedListItemID %>" class="stocktake-item-detail">
        <div class="pick-item-image">
            <img src="<%= CardImage %>" onerror="this.onerror = null; this.src = 'css/img/BlankImageCard.png';" class="imageCard" />
        </div>
        <div class="stocktake-card-caption">
            <ul class="clear-list">
                <li>UPC: <%= BarCode %></li>
                <li>Name: <%= ItemName %></li>
                <li><span class="text-ellipsis"><%= ItemDescription %></span></li>
            </ul>
        </div>
        <div id="buttonSkipItem<%= SkippedListItemID %>" class="btn btn-inverse2 stocktake-btn-skip">skip</div>
    </div>
</div>