<section id="containerLabelSection" class="container">
    <div id="itemMainSlider" class="transition-container">
        <div class="slider">
            <!--LABEL SECTION-->
            <section id="labelSection" class="container">
                <nav id="labelNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="labelNavTitle" class="navbar-title"><%= TransactionCode %></span>
                        <button id="buttonBackLabel" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>
                <div id="labelBody" class="container-body-2">
                    <div id="containerTableLabel" class="iscroll-cartitem-2">
                        <table id="cartListLabel" cellspacing="0" cellpadding="0">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <footer id="labelFooter" class="container-footer">
                    <button id="buttonPrint" class="btn btn-belize btn-lg btn-footer" type="button">print label</button>
                </footer>
            </section>
            <!--END SECTION-->
        </div>
        <!--FULLSCREEN SECTION-->
        <section id="fullScreenSection" class="container slideDownReady">
            <nav id="fullScreenNav" class="container-nav navbar navbar-inverse">
                <div class="navbar-header">
                    <span id="fullScreenNavTitle" class="navbar-title"></span>
                    <button id="buttonBackFS" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-down text-primary"></i></button>
                </div>
            </nav>
            <div id="fullScreenBody" class="iscroll-picturefs">
                <ul id="pictureItemList" class="clear-list"></ul>
            </div>
            <footer id="fullScreenFooter" class="container-footer">
                <button id="buttonPrintFS" class="btn btn-belize btn-lg btn-footer" type="button">print label</button>
            </footer>
        </section>
        <!--END SECTION-->
    </div>

</section>
