<td id="<%= PictureID %>" class="box-cell <%= PictureID %>">
    <div class="image-border">        
        <img class="pull-left" src="<%= SourceFileName %>" width="142px" height="180px">
        <div class="triangle-top-right"><i class="icon-ok label-check-icon"></i></div>
        <div id="imageTitleHeader<%= PictureID %>" class="image-title-header">
            <span class="label-trackingNumber"><%= TrackingNumber %></span>
            <span class="label-view-button"><i class="icon-eye-open"></i></span>
        </div>
    </div>
</td>