<td id="<%= ViewID %>" class="lookup-row <%= ViewID %>">
    <% if(IsPriority && IsPriority ==true) { %>
    <div class="cartitem-rownumber-<%= IsPriority %>"><%= RowNumber %></div>
    <% } else { %>
    <div class="cartitem-rownumber"><%= RowNumber %></div>
    <% } %>
    <div>
        <ul class="cartitem-1">
            <li><%= TransactionCode %></li>
            <li><%= Name %></li>
            <li><%= Status %></li>
        </ul>       
    </div>    
    <div class="cartitem-date">
        <span><%= Date %></span>
        <% if(IsPriority && IsPriority == true) { %>
        <span class="spanpriority">PRIORITY</span>
        <% } %>
    </div>
</td>