<section id="lookupSection" class="container">
    <nav id="lookupNav" class="container-nav navbar navbar-inverse">
        <div class="navbar-header">
            <span id="lookupTitle" class="navbar-title"></span>
            <button id="buttonNew" type="button" class="btn btn-inverse pull-right"><i class="icon-plus"></i></button>
            <button id="buttonMenu" type="button" class="btn btn-inverse pull-left"><i class="icon-th-large"></i></button>
            <button id="buttonBack" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
            <button id="buttonSlideDown" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-down text-primary"></i></button>
        </div>
    </nav>
    <header id="lookupHeader" class="container-header">
        <div class="input-group">
            <input id="textSearch" class="form-control" placeholder="scan or enter order" type="text">
            <span class="input-group-btn">
                <button id="buttonSearch" class="btn btn-default" type="button"><i class="icon-search"></i></button>
            </span>
        </div>
    </header>
    <div id="lookupBody" class="container-body-2">
        <div id="lookupItems">
            <div id="containerTable" class="iscroll-lookup">
                <table id="cartListContainer" cellspacing="0" cellpadding="0">
                    <tbody />
                </table>
            </div>
        </div>
    </div>
    <footer>
        <button id="buttonMoreLookup" class="btn btn-inverse2">load more</button>
    </footer>
</section>
