<section id="containerTransferSection" class="container">
    <div class="transition-container">
        <div id="itemMainSlider" class="slider page3">
            <!--TRANSFER SECTION-->
            <section id="transferSection" class="container">
                <nav id="transferNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <button id="buttonTransferEditDetails" type="button" class="btn btn-inverse pull-right"><i class="icon-info"></i></button>
                        <span id="transferNavTitle" class="navbar-title">transfer</span>
                        <button id="buttonMenuTransfer" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>
                <button id="buttonLocationTo" class="btn btn-danger"><span id="textLocationToHeader">please select destination</span><i class="icon-chevron-right pull-right"></i></button>
                <header id="transferHeader" class="container-header">
                    <div class="input-group">
                        <input id="textboxSearchTransfer" class="input-counter form-control" placeholder="scan or enter item" type="text">
                        <div class="input-group-btn">
                            <button id="buttonSearchItemTransfer" class="btn btn-default" type="button"><i class="icon-search"></i></button>
                        </div>
                    </div>
                </header>
                <div id="transferBody" class="container-body-2">
                    <div id="containerTableTransfer" class="iscroll-cartitem-3">
                        <table id="cartListTransfer">
                            <tbody />
                        </table>
                    </div>
                </div>
                <footer id="transferFooter" class="container-footer sliderFooter">
                    <div id="slideFooter">
                        <div id="transferFooterTotal" class="footerTotal">total items: <span id="textTransferTotalItems">0</span></div>
                        <button id="buttonCompleteTransfer" class="btn btn-belize btn-lg btn-footer" type="button">complete</button>
                        <div>
                            <button id="buttonCancelRemoveItems" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-down text-primary"></i></button>
                            <button id="buttonRemoveItems" class="btn btn-danger btn-lg btn-footer" type="button">remove</button>
                        </div>
                    </div>
                </footer>
            </section>
            <!--END SECTION-->
            <!--TRANSFER DETAIL SECTION-->
            <section id="transferDetailSection" class="container section-close">
                <nav id="transferDetailNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="transferDetailNavTitle" class="navbar-title">transfer detail</span>
                        <button id="buttonBackTransferDetail" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>
                <div id="transferDetailBody" class="container-body">
                    <ul id="transferDetailList" class="list-group">
                        <li id="rowLocationFrom" class="list-group-item"><a><span class="pull-right"><%= WarehouseCodeSource %></span>From Location</a></li>
                        <li id="rowLocationTo" class="list-group-item"><a><i class="icon-chevron-right"></i><span id="textLocationTo" class="pull-right"><%= WarehouseCodeDest %></span>To Location</a></li>
                    </ul>                    
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            notes
                        </div>
                        <div class="panel-body">
                            <textarea id="transferDetailNotes" class="form-control" rows="6" placeholder="enter note"><%= Notes %></textarea>
                        </div>
                    </div>
                </div>
            </section>
            <!--END-->
            <!--ITEMSETTING SECTION-->
            <section id="itemSettingSection" class="container section-close">
                <nav id="itemSettingNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="itemSettingNavTitle" class="navbar-title">item detail</span>
                        <button id="buttonBackItemSetting" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>
                <div id="itemSettingBody" class="container-body setting-body">
                    <div id="containerSettings" class="iscroll-itemdetail">
                        <ul id="itemSettingList" class="list-group">
                            <li id="rowItemCode" class="list-group-item"><a><span id="textItemCode" class="pull-right"></span>Item Code</a></li>
                            <li id="rowName" class="list-group-item"><a><span id="textItemName" class="pull-right"></span>Name</a></li>
                            <li id="rowDesc" class="list-group-item"><a><span id="textItemDesc" class="pull-right"></span>Description</a></li>
                            <li id="rowUPCCode" class="list-group-item"><a><span id="textUPCCode" class="pull-right"></span>UPC Code</a></li>
                            <li id="rowQty" class="list-group-item"><a><span id="textQuantity" class="pull-right"></span>Quantity</a></li>
                            <li id="rowFreeStock" class="list-group-item"><a><span id="textFreeStock" class="pull-right"></span>Free Stock</a></li>
                            <li id="rowUnitMeasure" class="list-group-item"><a><i class="icon-chevron-right"></i><span id="textUnitMeasureCode" class="pull-right"></span>Unit Measure</a></li>
                            <li id="rowZoneFrom" class="list-group-item"><a><i class="icon-chevron-right"></i><span id="textLocationCodeSource" class="pull-right"></span>From Zone</a></li>
                            <li id="rowZoneTo" class="list-group-item"><a><i class="icon-chevron-right"></i><span id="textLocationCodeDest" class="pull-right"></span>To Zone</a></li>
                        </ul>
                     </div>
                </div>
                <footer id="itemSettingFooter" class="container-footer">
                    <button id="buttonRemove" class="btn btn-danger btn-lg btn-footer" type="button">remove</button>
                </footer>
            </section>
            <!--END SECTION-->
            <!--CHECKLIST SECTION-->
            <section id="checkListSection" class="container">
                <nav id="checkListNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="checkListNavTitle" class="navbar-title"></span>
                        <button id="buttonBackCheckList" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>
                <div id="checkListBody" class="container-body-2">
                    <div id="containerTableCheckList" class="iscroll-cartitem">
                        <table id="cartCheckList" class="bordered-list">
                            <tbody />
                        </table>
                    </div>
                </div>
            </section>
            <!--END-->
        </div>       
        <!--COMPLETED SECTION-->
        <section id="completedSection" class="container container-completed section-close">
            <nav id="completedNav" class="container-nav navbar navbar-inverse">
                <div class="navbar-header">
                    <span id="completedNavTitle" class="navbar-title"></span>
                    <button id="buttonMenuCompleted" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                </div>
            </nav>
            <div id="completedBody" class="container-body">
                <i class="icon-ok-sign icon-17"></i>
                <h2 id="completedMessage"></h2>
            </div>
            <footer id="completedFooter" class="container-footer">
                <button id="buttonMore" class="btn btn-info btn-lg btn-footer" type="button"></button>                    
            </footer>
        </section>
        <!--END SECTION-->
        <div id="itemLookupContainer" />
        <div id="numericPadContainer" />
    </div>
</section>
