<section id="containerReceiveSection" class="container">
    <div class="transition-container">
        <div id="itemMainSlider" class="slider page3">
            <!--RECEIVE SECTION-->
            <section id="receiveSection" class="container">
                <nav id="receiveNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="receiveNavTitle" class="navbar-title"><%= PurchaseOrderCode %></span>
                        <button id="buttonBackReceive" type="button" class="btn btn-inverse pull-left"><i class="icon-reorder"></i></button>
                    </div>
                </nav>
                <header id="receiveHeader" class="container-header">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button id="buttonCounter" class="btn btn-danger" type="button"><i class="text-error"><strong>items: <span id="textCounter">0</span></strong></i></button>
                        </span>
                        <input id="textScanItem" class="input-counter form-control" placeholder="scan or enter item" type="text">
                        <span class="input-group-btn">
                            <button id="buttonScanItem" class="btn btn-default" type="button"><i class="icon-search"></i></button>
                        </span>
                    </div>
                </header>
                <div id="receiveBody" class="container-body-2">
                    <div id="containerTableReceive" class="iscroll-cartitem-3">
                        <table id="cartListReceive">
                            <tbody id="cartListReceiveBody" />
                        </table>
                    </div>
                </div>
                <footer id="receiveFooter" class="container-footer sliderFooter">
                    <div id="slideFooter">
                        <div class="footerTotal">total items: <span id="textTotalItems">0</span></div>
                        <button id="buttonComplete" class="btn btn-belize btn-lg btn-footer" type="button">complete</button>
                        <div>
                            <button id="buttonCancelRemoveItems" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-down text-primary"></i></button>
                            <button id="buttonRemoveItems" class="btn btn-danger btn-lg btn-footer" type="button">remove</button>
                        </div>
                    </div>                    
                </footer>
            </section>
            <!--END SECTION-->
            <!--ITEMSETTING SECTION-->
            <section id="itemSettingSection" class="container">
                <nav id="itemSettingNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="itemSettingNavTitle" class="navbar-title">item detail</span>
                        <button id="buttonBackItemSetting" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>
                <div id="itemSettingBody" class="container-body setting-body">
                    <div id="containerSettings" class="iscroll-itemdetail">
                        <div id="settingsList">
                            <ul id="itemSettingList" class="list-group">
                                <li id="rowItemCode" class="list-group-item"><a><span id="textItemCode" class="pull-right"></span>Item Code</a></li>
                                <li id="rowName" class="list-group-item"><a><span id="textItemName" class="pull-right"></span>Name</a></li>
                                <li id="rowDesc" class="list-group-item"><a><span id="textItemDesc" class="pull-right"></span>Description</a></li>
                                <li id="rowUPCCode" class="list-group-item"><a><span id="textUPCCode" class="pull-right"></span>UPC Code</a></li>
                                <li id="rowQty" class="list-group-item"><a><span id="textQuantity" class="pull-right"></span>Quantity</a></li>
                                <li id="rowFreeStock" class="list-group-item"><a><span id="textFreeStock" class="pull-right"></span>Free Stock</a></li>
                                <li id="rowUnitMeasure" class="list-group-item"><a><i class="icon-chevron-right"></i><span id="textUnitMeasureCode" class="pull-right"></span>Unit Measure</a></li>
                                <li id="rowBinLocation" class="list-group-item"><a><span id="textBinLocation" class="pull-right">No Bin</span>Bin Location</a></li>
                                <li id="rowZone" class="list-group-item"><a><span id="textZone" class="pull-right">Zone1</span>Zone</a></li>
                            </ul>
                        </div>
                     </div>
                </div>
                <footer id="itemSettingFooter" class="container-footer">
                    <button id="buttonRemove" class="btn btn-danger btn-lg btn-footer" type="button">remove</button>
                </footer>  
            </section>
            <!--END SECTION-->
            <!--CHECKLIST SECTION-->
            <section id="checkListSection" class="container">
                <nav id="checkListNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="checkListNavTitle" class="navbar-title"></span>
                        <button id="buttonBackCheckList" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>
                <div id="checkListBody" class="container-body-2">
                    <div id="containerTableCheckList" class="iscroll-cartitem">
                        <table id="cartCheckList" class="bordered-list">
                            <tbody />
                        </table>
                    </div>
                </div>
            </section>
            <!--END-->
        </div>
        <div id="itemsRemainingSlider" class="slider page2 container-remaining">
            <!--ITEMSREMAINING SECTION-->
            <section id="itemsRemainingSection" class="container">
                <nav id="itemsRemainingNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span class="navbar-title">remaining items</span>
                        <button id="buttonBackItemsRemaining" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-down text-primary"></i></button>
                    </div>
                </nav>
                <div id="itemsRemainingBody" class="container-body-2">
                    <div id="containerTableItemsRemaining" class="iscroll-cartitem-2">
                        <table id="cartListItemsRemaining">
                            <tbody />
                        </table>
                    </div>
                </div>
                <footer id="itemsRemainingFooter" class="container-footer">
                    <div class="footerTotal">total items: <span id="textTotalItemsRemaining">0</span></div>
                </footer>
            </section>
            <!--END SECTION-->
            <!--ITEMREMAININGSETTING SECTION-->
            <section id="itemRemSettingSection" class="container">
                <nav id="itemRemSettingNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="itemRemSettingNavTitle" class="navbar-title">item detail</span>
                        <button id="buttonBackItemRemSetting" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>
                <div id="itemRemSettingBody" class="container-body">
                    <ul id="itemRemSettingList" class="list-group">
                        <li id="rowRemItemCode" class="list-group-item"><a><span id="remSettingsItemCode" class="pull-right"></span>Item Code</a></li>
                        <li id="rowRemName" class="list-group-item"><a><span id="remSettingsItemName" class="pull-right"></span>Name</a></li>
                        <li id="rowRemDesc" class="list-group-item"><a><span id="remSettingsItemDesc" class="pull-right"></span>Description</a></li>
                        <li id="rowRemUPCCode" class="list-group-item"><a><span id="remSettingsUPCCode" class="pull-right"></span>UPC Code</a></li>
                        <li id="rowRemQty" class="list-group-item"><a><span id="remSettingsQuantity" class="pull-right"></span>Quantity</a></li>
                        <li id="rowRemFreeStock" class="list-group-item"><a><span id="remSettingsFreeStock" class="pull-right"></span>Free Stock</a></li>
                        <li id="rowRemUnitMeasure" class="list-group-item"><a><span id="remSettingsRemUnitMeasureCode" class="pull-right"></span>Unit Measure</a></li>
                    </ul>
                </div>
            </section>
            <!--END SECTION-->
        </div> 
            <!--COMPLETED SECTION-->
            <section id="completedSection" class="container container-completed section-close">
                <nav id="completedNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="completedNavTitle" class="navbar-title"><%= PurchaseOrderCode %></span>
                        <button id="buttonMenuCompleted" type="button" class="btn btn-inverse pull-left"><i class="icon-th-large"></i></button>
                    </div>
                </nav>
                <div id="completedBody" class="container-body">
                    <i class="icon-ok-sign icon-17"></i>
                    <h2>Receive Completed!</h2>
                </div>
                <footer id="completedFooter" class="container-footer">
                    <button id="buttonMore" class="btn btn-river btn-lg btn-footer" type="button">receive more</button>
                    <!-- <button id="buttonRePrint" class="btn btn-belize btn-lg btn-footer" type="button">print report</button> -->
                </footer>
            </section>
            <!--END SECTION-->        
            <!--FULLSCREEN SECTION-->
            <section id="fullScreenSection" class="container slideDownReady">
                <nav id="fullScreenNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="fullScreenNavTitle" class="navbar-title"></span>
                        <button id="buttonBackFS" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-down text-primary"></i></button>
                    </div>
                </nav>
                <div id="containerTableFullScreenBody" class="iscroll-picturefs">
                    <ul id="pictureItemList" class="clear-list" style="margin-bottom: 0px;">
                        <li>
                            <div id="imageReceiveLabel"></div>
                        </li>
                    </ul>
                </div>
                <!-- <footer id="fullScreenFooter" class="container-footer">
                    <button id="buttonPrintFS" class="btn btn-belize btn-lg btn-footer" type="button">print report</button>
                </footer> -->
            </section>
            <!--END SECTION-->
        <div id="itemLookupContainer" />
        <div id="numericPadContainer" />
        <!--BINMANAGER SECTION-->
        <div id="binManagerSlider" class="slider container-remaining">
            <section id="containerBinManager" class="container"></section>
        </div>
        <!--END SECTION-->
        <!--SERIAL SECTION-->
         <div id="serialSlider" class="slider container-remaining">
                <section id="serialContainer" class="container">
                    <nav id="serialNav" class="container-nav navbar navbar-inverse">
                        <div class="navbar-header">
                            <span class="navbar-title">enter serial number</span>
                            <button id="buttonBackItemsSerial" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-down text-primary"></i></button>
                        </div>
                    </nav>
                    <div id="serialBody" class="container-body-2" style="margin: 0px 0px; background-color: black;" >
                        <div id="serialTextBlock" style="margin: 0px 10px;">
                            <p style="text-align: right; color: white; font-size: 24px;">
                                <span id="serialScanned">0</span>
                                &nbsp;of&nbsp;
                                <span id="serialTotal">0</span>
                            </p>
                            <div class="btn-group" style="width: 100%;">
                                <input id="textScanSerial" type="text" class="form-control input-lg" />
                                <span id="serialClear" class="icon-remove-circle"></span>
                            </div>
                            <input id="buttonScanSerial" type="button" class="form-control input-lg btn-success" value="enter" />
                        </div>
                    </div>
                    </footer>
                </section>
            </div>
         <!--END SECTION--> 
    </div>
</section>