<section id="numericPadSection" class="numericpad">   
    <nav id="numericPadNav" class="container-nav navbar navbar-inverse">
        <div class="navbar-header">            
            <span id="numericPadNavTitle" class="navbar-title">enter quantity</span>
            <button id="buttonCloseNumericPad" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-down text-primary"></i></button>
        </div>
    </nav>
    <header id="numericpadHeader">
        <input id="textboxQuantity" placeholder="enter quantity" class="form-control" type="text" value="0" readonly="true" />
    </header>
    <div id="numericpadBody">
        <ul class="numericpad-button-group">
            <li>
                <button id="numOne" class="btn btn-inverse">1</button>
                <button id="numTwo" class="btn btn-inverse">2</button>
                <button id="numThree" class="btn btn-inverse">3</button>                
            </li>
            <li>
                <button id="numFour" class="btn btn-inverse">4</button>
                <button id="numFive" class="btn btn-inverse">5</button>
                <button id="numSix" class="btn btn-inverse">6</button>                                
            </li>
            <li>
                <button id="numSeven" class="btn btn-inverse">7</button>
                <button id="numEight" class="btn btn-inverse">8</button>
                <button id="numNine" class="btn btn-inverse">9</button>                
            </li>
            <li>
               <button id="numClear" class="btn btn-danger" type="button">C</button>
               <button id="numNegative" class="btn btn-danger" style="display:none" type="button">+/-</button> 
               <button id="numZero" class="btn btn-inverse">0</button>                                
               <button id="numBackSpace" class="btn btn-danger"><div class="triangle-left pull-left"></div><div class="rectangle pull-left"><i class="icon-remove"></i></div></button>
            </li>
        </ul>   
    </div>    
    <footer id="numericpadFooter">
        <button id="numEnter" class="btn btn-nephritis btn-block" type="button">enter</button>
    </footer>    
</section>