<div class="transition-container">
    <section id="loginSection" class="container">
        <nav class="container-nav navbar navbar-inverse">
            <div class="navbar-header">
                <button id="buttonConnection" type="button" class="btn btn-inverse pull-right"><i class="icon-cog"></i></button>
                <span class="navbar-title"><span class="connected-text">connected</span>warehouse</span>
            </div>
        </nav>
        <div id="loginBody" class="container-body text-center">
            <img src="css/img/CW_Symbolonly.png" style="width: 95%;">
            <form id="formLogin" class="form-signin">
                <input id="textUsername" type="text" class="form-control input-lg" placeholder="Username" value="" />
                <input id="textPassword" type="password" class="form-control input-lg" placeholder="Password" value="" />
                <button id="buttonLogIn" class="btn btn-belize btn-lg btn-block" type="button">Login</button>
            </form>
        </div>
    </section>
    <section id="containerConnectionSection" class="container container-remaining" />
</div>