<section id="containerSettingsSection" class="container">
    <div class="transition-container">
        <div class="slider page3">
            <!--SETTINGS SECTION-->
            <section id="settingsSection">
                <nav id="settingsNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">                         
                        <span class="navbar-title">settings</span>
                        <button id="buttonMenu" type="button" class="btn btn-inverse pull-left"><i class="icon-th-large"></i></button>
                    </div>
                </nav>
                <div id="settingsBody" class="container-body-2">
                    <div id="containerSettings" class="iscroll-cartitem">
                        <div id="settingsList">
                            <ul id="settingsGroup1List" class="list-group">
                                <li id="rowWorkstationId" class="list-group-item"><a><i id="iconWorkstationId" class="icon-chevron-right"></i><span id="textWorkstationID" class="pull-right"><%= WorkstationID %></span>Workstation ID</a></li>
                                <li id="rowDefaultLocation" class="list-group-item"><a><i id="iconDefaultLocation" class="icon-chevron-right"></i><span id="textDefaultLocation" class="pull-right"><%= WarehouseDescription %></span>Default Location</a></li>
                            </ul>

                            <ul id="settingsGroup2List" class="list-group">
                                <li id="rowAdjustment" class="list-group-item"><a><i class="icon-chevron-right pull-right"></i>Adjustment</a></li>                                
                                <li id="rowPack" class="list-group-item"><a><i class="icon-chevron-right pull-right"></i>Pack</a></li>
                                <li id="rowPhysicalInventory" class="list-group-item"><a><i class="icon-chevron-right pull-right"></i>Physical Inventory</a></li>
                                <li id="rowPick" class="list-group-item"><a><i class="icon-chevron-right pull-right"></i>Pick</a></li>
                                <li id="rowPrePack" class="list-group-item"><a><i class="icon-chevron-right pull-right"></i>Prepack Handling</a></li>
                                <li id="rowReceive" class="list-group-item"><a><i class="icon-chevron-right pull-right"></i>Receive</a></li>
                                <li id="rowLabel" class="list-group-item"><a><i class="icon-chevron-right pull-right"></i>Ship</a></li>
                                <li id="rowStock" class="list-group-item"><a><i class="icon-chevron-right pull-right"></i>Stock</a></li>
                                <li id="rowTransfer" class="list-group-item"><a><i class="icon-chevron-right pull-right"></i>Transfer</a></li>                                                                
                            </ul>

                            <ul id="settingsGroup3List" class="list-group">
                                <li id="rowItemImage" class="list-group-item"><a><i id="iconItemImage" class="icon-chevron-right"></i><span id="textItemImage" class="pull-right"><%= WebSite %></span>Item Images</a></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--END-->
            <!--FEATUREPREFERENCE SECTION-->
            <section id="featurePreferenceSection" class="section-close">
                <nav id="featurePreferenceNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">                                             
                        <span id="featurePreferenceNavTitle" class="navbar-title"></span>
                        <button id="buttonBackFeaturePreference" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>
                <div id="featurePreferenceBody" class="container-body">
                    <div id="containerTableFeaturePreference" class="iscroll-cartitem">
                        <div id="featurePreferenceList">
                            <ul id="featurePreferenceList" class="list-group">
                            <li id="rowIsAutoPrint" class="list-group-item">
                                <a><span id="switchIsAutoPrint" class="switch pull-right"><input class="checkboxIsAutoPrint" type="checkbox" /></span>
                                    <ul id="descriptionAutoPrint">
                                        <li>Auto Print</li>
                                        <li>It automatically prints the image directly to the printer.</li>
                                    </ul>
                                </a>                            
                            </li>
                            <li id="rowIsAutoComplete" class="list-group-item">
                                <a><span id="switchIsAutoComplete" class="switch pull-right"><input type="checkbox" /></span>
                                    <ul id="descriptionAutoComplete">
                                        <li>Auto Complete</li>
                                        <li>It automatically converts the sales order to an invoice. It is not applicable on prepack items.</li>
                                    </ul>
                                </a>
                            </li>
                            <li id="rowBatchPick" class="list-group-item">
                                <a><span id="switchIsBatchPick" class="switch pull-right"><input type="checkbox" /></span>
                                    <ul id="descriptionBatchPick">
                                        <li>Batch Pick</li>
                                        <li>Coming soon.</li>
                                    </ul>
                                </a>
                            </li>
                            <li id="rowIsPromptBinManager" class="list-group-item">
                                <a><span id="switchIsPromptBinManager" class="switch pull-right"><input type="checkbox" /></span>
                                    <ul id="descriptionPromptBinManager">
                                        <li><label id="textPromptBin">Prompt for bin</label></li>
                                        <li>It automatically prompts bin manager when adding an item to cart.</li>
                                    </ul>                                
                                </a>
                            </li>
                            <li id="rowIsAllowToSkipItems" class="list-group-item">
                                <a><span id="switchIsAllowToSkipItems" class="switch pull-right"><input type="checkbox" /></span>
                                    <ul id="descriptionAllowSkipItems">
                                        <li>Allow to skip items</li>
                                        <li>It allows the user to skip the current item then proceed to the next item.</li>
                                    </ul>
                                </a>
                            </li>
                            <li id="rowIsEnable" class="list-group-item">
                                <a><span id="switchIsEnable" class="switch pull-right"><input type="checkbox" /></span>
                                    <ul id="descriptionEnable">
                                        <li>Enable</li>
                                        <li>It enables the user to use the prepack feature.</li>
                                    </ul>
                                </a>
                            </li>
                            <li id="rowIsPromptForQty" class="list-group-item">
                                <a><span id="switchIsPromptForQty" class="switch pull-right"><input type="checkbox" /></span>
                                    <ul id="descriptionPromptForQty">
                                        <li>Prompt for qty</li>
                                        <li>It automatically prompts numeric keypad for multiple quantities.</li>
                                    </ul>
                                </a>
                            </li>
                            <li id="rowIsQuickPack" class="list-group-item">
                                <a><span id="switchIsQuickPack" class="switch pull-right"><input type="checkbox" /></span>
                                    <ul id="descriptionQuickPack">
                                        <li>Quick Pack</li>
                                        <li>Coming Soon.</li>
                                    </ul>
                                </a>
                            </li> 
                            <li id="rowIsShowQtyOnHand" class="list-group-item">
                                <a><span id="switchIsShowQtyOnHand" class="switch pull-right"><input type="checkbox" /></span>
                                    <ul id="descriptionQtyOnHand">
                                        <li>Qty on hand</li>
                                        <li>It displays the number of free stock of an item.</li>
                                    </ul>
                                </a>
                            </li>
                            <li id="rowSourceTransaction" class="list-group-item">                            
                                <div class="btn-group pull-right">
                                    <button id="buttonSourceTransaction" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span id="textSourceTransaction" class="pull-left">order</span><span class="caret"></span>
                                    </button>
                                    <ul id="dropdownSourceTransaction" class="dropdown-menu" role="menu">
                                        <li><a id="buttonOrder">order</a></li>
                                        <li><a id="buttonInvoice">invoice</a></li>
                                    </ul>
                                </div>
                                <a>
                                    <ul id="descriptionSourceTransaction">
                                        <li>Source Transaction</li>
                                        <li>It allows the user to choose what kind of transaction to display in lookup.</li>
                                    </ul>
                                </a>
                            </li>                                                
                            <li id="rowUseCbeImage" class="list-group-item">
                                <a><span id="switchUseCbeImage" class="switch pull-right"><input type="checkbox" /></span>
                                    <ul id="descriptionUseCbeImage">
                                        <li>Use eCommerce Images</li>
                                        <li>It displays the images of an item.</li>
                                    </ul>
                                </a>
                            </li>
                            <li id="rowWebSite" class="list-group-item"><a><i id="iconWebSite" class="icon-chevron-right" style="margin-top:7px;"></i><span id="textWebSite" class="pull-right list-linkLabel"><%= WebSiteDescription %></span>
                                Web Site</a>
                            </li>
                            <li id="rowIsAutoPost" class="list-group-item">
                                <a><span id="switchIsAutoPost" class="switch pull-right"><input type="checkbox" /></span>
                                    <ul id="descriptionAutoPost">
                                        <li>Auto Post</li>
                                        <li>It automatically posts the created <span class="autoPostDesc" style="color: gray;">stock take.</span></li>
                                    </ul>
                                </a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                
            </section>
            <!--END-->            
            <!--CHECKLIST SECTION-->
            <section id="checkListSection" class="container section-close">
                <nav id="checkListNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="checkListNavTitle" class="navbar-title"></span>
                        <button id="buttonBackCheckList" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>                        
                    </div>
                </nav>
                <header id="checkListHeader" class="container-header">
                    <div class="input-group">
                        <input id="textboxSearchWorkstations" class="form-control" placeholder="enter workstation id" type="text">
                        <span class="input-group-btn">
                            <button id="buttonCreatePreference" class="btn btn-default" type="button"><i class="icon-plus"></i></button>
                        </span>
                    </div>
                </header>
                <div id="checkListBody" class="container-body-2">
                    <div id="containerTableCheckList" class="iscroll-lookup">
                        <table id="cartCheckList" class="bordered-list">
                            <tbody />
                        </table>
                    </div>
                </div>
                <footer id="workstationIDFooter" class="container-footer">
                    <button id="buttonDeleteWorkstationID" class="btn btn-danger btn-lg btn-footer" type="button">delete workstation</button>
                </footer>     
            </section>
            <!--END-->
        </div>
    </div>
</section>
