<section id="containerTransferSection" class="container">
    <div class="transition-container">
        <div class="slider page3">
            <!--BOX SECTION-->
            <section id="boxSection" class="container">
                <nav id="boxNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">                                                
                        <button id="buttonEditDetails" class="btn btn-inverse pull-right"><i class="icon-info"></i></button>                                                    
                        <span id="boxNavTitle" class="navbar-title"></span>
                        <button id="buttonBackBox" type="button" class="btn btn-inverse pull-left"><i class="icon-archive"></i></button>
                    </div>
                </nav>
                <button id="buttonAddress" class="btn btn-danger"><span id="textAddress">please select shipping address</span><i class="icon-chevron-right pull-right"></i></button>
                <header id="boxHeader" class="container-header">
                    <div class="input-group">
                        <div id="buttonCounterContainer" class="input-group-btn">
                            <button id="buttonCounter" class="btn btn-danger" type="button"><i class="text-error"><strong>items: <span id="textCounter">0</span></strong></i></button>
                        </div>
                        <input id="textboxScanItem" class="input-counter form-control" placeholder="scan or enter item" type="text">
                        <div class="input-group-btn">
                            <button id="buttonScanItem" class="btn btn-default" type="button"><i class="icon-search"></i></button>
                        </div>
                    </div>
                </header>
                <div id="boxBody" class="container-body-2">
                    <div id="containerTableBox" class="iscroll-cartitem-4">
                        <table id="cartListBox">
                            <tbody />
                        </table>
                    </div>
                </div>
                <footer id="boxFooter" class="container-footer sliderFooter">
                    <div id="slideFooterBox">
                        <div class="footerTotal">
                            <div>box weight: <span id="textBoxTotalWeight"><%= TotalWeightInPounds %></span></div>
                            <div>total items: <span id="textBoxTotalItems"><%= TotalItems %></span></div>
                        </div>
                        <button id="buttonAddMoreBox" class="btn btn-primary"><span><i class="icon-archive"></i>+</span></button>
                        <button id="buttonGenerateLabel" type="button" class="btn btn-belize btn-lg btn-footer">complete</button>                    
                        <div>
                            <button id="buttonCancelRemoveItemsBox" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-down text-primary"></i></button>
                            <button id="buttonRemoveItems" class="btn btn-danger btn-lg btn-footer" type="button">remove</button>
                        </div>
                    </div>
                    
                </footer>
            </section>
            <!--BOX DETAILS SECTION-->
            <section id="boxDetailsSection" class="container section-close">
                <nav id="boxDetailsNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">                        
                        <span id="boxDetailsNavTitle" class="navbar-title">box details</span>
                        <button id="buttonBackBoxDetails" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>                
                <div id="boxDetailsBody" class="container-body setting-body">
                    <ul id="boxDetailsList" class="list-group">
                        <li id="rowTrackingNumber" class="list-group-item section-close"><a><span id="textTrackingNumber" class="pull-right"></span>Tracking Number</a></li>
                        <li id="rowTrackingNumberManual" class="list-group-item section-close"><a><input id="textManualTrackingNumber" class="pull-right" type="text">Tracking Number</a></li>
                        <li id="rowCarrierCode" class="list-group-item"><a><i id="iconCarrierCode" class="icon-chevron-right pull-right"></i><span id="textCarrierCode" class="pull-right"></span>Carrier</a></li>
                        <li id="rowShippingMethodCode" class="list-group-item"><a><span id="textShippingMethodCode" class="pull-right"></span>Shipping Method</a></li>
                        <% if(UnitMeasureSystem && UnitMeasureSystem =='Metric') { %>
                        <li id="rowBoxWeight" class="list-group-item"><a><span id="textBoxWeight" class="pull-right"></span>Weight(Kgs)</a></li>
                        <li id="rowFreightRate" class="list-group-item"><a><input id="textFreightRate" class="pull-right" readonly="readonly" type="text">Freight Rate</a></li>
                        <li id="rowDimension" class="list-group-item"><a><span id="textDimension" class="pull-right"></span>L x W x H(cm)</a></li>
                        <% } else { %>
                        <li id="rowBoxWeight" class="list-group-item"><a><span id="textBoxWeight" class="pull-right"></span>Weight(Lbs)</a></li>
                        <li id="rowFreightRate" class="list-group-item"><a><input id="textFreightRate" class="pull-right" readonly="readonly" type="text">Freight Rate</a></li>
                        <li id="rowDimension" class="list-group-item"><a><span id="textDimension" class="pull-right"></span>L x W x H(in)</a></li>
                        <% } %>
                        <li id="rowServiceType" class="list-group-item"><a><i id="iconServiceType" class="icon-chevron-right pull-right"></i><span id="textServiceType" class="pull-right"></span>Service Type</a></li>
                        <li id="rowPackagingType" class="list-group-item"><a><i id="iconPackagingType" class="icon-chevron-right pull-right"></i><span id="textPackagingType" class="pull-right"></span>Packaging Type</a></li>
                        <li id="rowIsPrePack" class="list-group-item section-close"><a><span id="textIsPrePack" class="pull-right"></span>PrePacked</a></li>
                    </ul>                   
                </div>   
                <footer id="boxDetailsFooter" class="container-footer">
                    <button id="buttonDeleteBox" class="btn btn-danger btn-lg btn-footer" type="button">remove</button>
                </footer>             
            </section>
            <!--END SECTION-->
            <!--ITEMSETTING SECTION-->
            <section id="itemSettingSection" class="container section-close">
                <nav id="itemSettingNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="itemSettingNavTitle" class="navbar-title">item detail</span>
                        <button id="buttonBackItemSetting" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>
                <div id="itemSettingBody" class="container-body setting-body">
                    <ul id="itemSettingList" class="list-group">
                        <li id="rowItemCode" class="list-group-item"><a><span id="textItemCode" class="pull-right"></span>Item Code</a></li>
                        <li id="rowName" class="list-group-item"><a><span id="textItemName" class="pull-right"></span>Name</a></li>
                        <li id="rowDesc" class="list-group-item"><a><span id="textItemDesc" class="pull-right"></span>Description</a></li>
                        <li id="rowUPCCode" class="list-group-item"><a><span id="textUPCCode" class="pull-right"></span>UPC Code</a></li>
                        <li id="rowQty" class="list-group-item"><a><span id="textQuantity" class="pull-right"></span>Quantity</a></li>
                        <li id="rowFreeStock" class="list-group-item"><a><span id="textFreeStock" class="pull-right"></span>Free Stock</a></li>
                        <% if(UnitMeasureSystem == 'Metric') { %>
                        <li id="rowWeightInPounds" class="list-group-item"><a><span id="textWeightInPounds" class="pull-right"></span>Weight(kgs)</a></li>
                        <% } else { %>
                        <li id="rowWeightInPounds" class="list-group-item"><a><span id="textWeightInPounds" class="pull-right"></span>Weight(lbs)</a></li>
                        <% } %>
                        <li id="rowUnitMeasure" class="list-group-item"><a><span class="pull-right"><i class="icon-chevron-right"></i><span id="textUnitMeasureCode"></span></span>Unit Measure</a></li>
                        <li id="rowShippingNotes" class="list-group-item"><a><span id="textShippingNotes" class="pull-right"></span>Notes</a></li>    
                    </ul>
                </div>
                <footer id="itemSettingFooter" class="container-footer">
                    <button id="buttonRemove" class="btn btn-danger btn-lg btn-footer" type="button">remove</button>
                </footer> 
            </section>
            <!--END SECTION-->
            <!--SHIPPINGADDRESS SECTION-->
            <section id="shippingAddressSection" class="container">
                <nav id="shippingAddressNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="shippingAddressNavTitle" class="navbar-title">shipping address</span>
                        <button id="buttonBackShippingAddress" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>
                <div id="containerTableShippingAddressBody" class="container-body iscroll-shippingaddress">
                    <ul id="addressList" class="clear-list">
                        <li>
                            <div class="form-group">
                                <input id="textAddressName" class="form-control" placeholder="name" type="text" value="<%= ShipToName %>">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <input id="textCountry" type="text" readonly class="form-control" placeholder="country" value="<%= ShipToCountry %>">
                            </div>
                        </li>
                        <li class="list-col-3">
                            <div class="form-group">
                                <input id="textPostal" readonly type="text" class="form-control" placeholder="postal" value="<%= ShipToPostalCode %>">
                            </div>
                        </li>
                        <li id="plus4Container" class="list-col-1">
                            <input id="textPlus4" maxlength="4" type="text" class="form-control" value="<%= ShipToPlus4 %>">
                        </li>
                        <li>
                            <div class="form-group">
                                <textarea id="textAreaAddress" class="form-control" rows="6" placeholder="enter address"><%= ShipToAddress %></textarea>
                            </div>
                        </li>
                        <li class="list-col-2">
                            <div class="form-group">
                                <input id="textCity" class="form-control" placeholder="city" type="text" value="<%= ShipToCity %>">
                            </div>
                        </li>
                        <li class="list-col-2">
                            <div class="form-group">
                                <input id="textState" class="form-control" placeholder="state" type="text" value="<%= ShipToState %>">
                            </div>
                        </li>
                        <li class="list-col-2">
                            <div class="form-group">
                                <input id="textCounty" class="form-control" placeholder="county" type="text" value="<%= ShipToCounty %>">
                            </div>
                        </li>
                        <li id="addressTypeContainer" class="list-col-2">
                            <div class="btn-group has-error">
                                <button id="buttonAddressType" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <div id="textAddressType"><%= ShipToAddressType %></div> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a id="linkResidential">Residential</a></li>
                                    <li><a id="linkCommercial">Commercial</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-col-3">
                            <div class="form-group">
                                <input id="textPhone" class="form-control" placeholder="phone" maxlength="30" type="text" value="<%= ShipToPhone %>">
                            </div>
                        </li>
                        <li class="list-col-1"><input id="textExt" class="form-control" placeholder="ext" maxlength="5" type="text" value="<%= ShipToPhoneExtension %>"></li>
                    </ul>
                </div>
            </section>
            <!--END-->
            <!--CHECKLIST SECTION-->
            <section id="checkListSection" class="container">
                <nav id="checkListNav" class="container-nav navbar navbar-inverse">
                    <div class="navbar-header">
                        <span id="checkListNavTitle" class="navbar-title"></span>
                        <button id="buttonBackCheckList" type="button" class="btn btn-inverse pull-left"><i class="icon-arrow-left"></i></button>
                    </div>
                </nav>
                <div id="checkListBody" class="container-body-2">
                    <div id="containerTableCheckList" class="iscroll-cartitem">
                        <table id="cartCheckList" class="bordered-list">
                            <tbody />
                        </table>                        
                    </div>
                    <div id="containerServiceTypeCheckList" class="iscroll-cartitem">
                        <table id="serviceTypeCheckList" />
                    </div>
                </div>
            </section>
            <!--END-->
        </div>        
        <div id="itemLookupContainer" />
        <div id="numericPadContainer" />
    </div>
</section>