<td id="<%= shippingID %>" class="lookup-row" style="cursor: pointer; cursor: hand;">
    <div class="cartitem-rownumber icon-truck icon2" style="font-size: 40px; width: 70px !important;">
    </div>
    <div style="background-color: #2980b9; padding-right: 5px;">
        <ul class="listitemship" style="color: white;">
            <li><%= shippingName %></li>
            <li>Boxes: <span class="boxCount"><%= boxCount %></span></li>
            <li>Remaining Items: <span class="boxRemaining"><%= quantity %></span></li>
        </ul>
    </div>
</td>