<td id="boxItem<%= BoxID %>" class="lookup-row <%= BoxID %>">
    <div class="<%= BoxID %>-itemcol-1 cartitem-rownumber"><span id="itemRow<%= BoxID %>"><%= RowNumber %></span></div>
    <div class="<%= BoxID %>-itemcol-2 icon-archive icon-4 boxitem-box"></div>
    <div class="<%= BoxID %>-itemcol-3">
        <ul class="cartitem-1">
            <li id="textPackagingCode<%= BoxID %>"><%= PackagingCode %></li>
            <li><span id="textBoxPackPrePack<%= BoxID %>" class="section-close" style="color: #c0392b;"></span></li>
            <li><%= TrackingNumber %></li>
            <li>
                items: <span id="textBoxTotalQuantity<%= BoxID %>"><%= TotalItems %></span>
                <div class="pull-right">wt (lb): <span id="textBoxTotalWeight<%= BoxID %>"><%= WeightInPounds %></span></div>
            </li>
        </ul>
    </div>
</td>